# üìå Fun√ß√µes e M√©todos em Python para Ci√™ncia de Dados

  
Neste notebook, exploramos fun√ß√µes, m√©todos e t√©cnicas de manipula√ß√£o de dados em Python, com foco em aplica√ß√µes pr√°ticas para Ci√™ncia de Dados.  
O conte√∫do √© aplic√°vel para an√°lise explorat√≥ria, limpeza de dados e prepara√ß√£o de datasets para modelagem.

**Objetivos:**
1. Criar fun√ß√µes reutiliz√°veis para an√°lise de dados
2. Aplicar m√©todos nativos para limpeza e transforma√ß√£o de dados
3. Usar fun√ß√µes `lambda` em Pandas para manipula√ß√£o de colunas

## 1. Fun√ß√µes 
Exemplo: fun√ß√£o para an√°lise de m√©tricas de vendas

In [5]:

def calcular_estatisticas(vendas):
    """
    Calcula m√©tricas b√°sicas de vendas
    
    Args:
        vendas (list): Lista de valores de venda
        
    Returns:
        dict: Dicion√°rio com m√©tricas
    """
    return {
        "total": sum(vendas),
        "media": sum(vendas)/len(vendas),
        "max": max(vendas),
        "min": min(vendas)
    }

# Testando
vendas_diarias = [150, 200, 80, 300]
calcular_estatisticas(vendas_diarias)

{'total': 730, 'media': 182.5, 'max': 300, 'min': 80}

## 2. M√©todos para Limpeza de Dados  
Exemplo de limpeza de dados textuais:

In [6]:
texto_bruto = "  RELAT√ìRIO: Vendas R$ 1.234,56  "

valor_limpo = (
    texto_bruto
    .strip()               # Remove espa√ßos
    .split("R$")[-1]       # Pega texto ap√≥s "R$"
    .strip()
    .replace(".", "")      # Remove pontos
    .replace(",", ".")     # Substitui v√≠rgula
)

valor_numerico = float(valor_limpo)
print(f"Valor convertido: {valor_numerico:.2f}")

Valor convertido: 1234.56

## 3. Lambda + Pandas (Aplica√ß√£o Real)

In [7]:
import pandas as pd

# DataFrame de exemplo
dados = {
    "produto": ["Notebook", "Mouse", "Teclado"],
    "preco": [4250.90, 89.90, 199.90],
    "frete": [50, 15, 20]
}
df = pd.DataFrame(dados)

# Pre√ßo final usando lambda
df["preco_final"] = df.apply(lambda linha: linha["preco"] + linha["frete"], axis=1)

# Fun√ß√£o para aplicar desconto condicional
def aplicar_desconto(valor):
    return valor * 0.9 if valor > 100 else valor

df["preco_com_desconto"] = df["preco_final"].apply(aplicar_desconto)
df

    produto   preco  frete  preco_final  preco_com_desconto
0  Notebook  4250.9     50       4300.9             3870.81
1     Mouse    89.9     15        104.9               94.41
2   Teclado   199.9     20        219.9              197.91