# üîó Integra√ß√£o NumPy + Pandas

Este notebook demonstra como **integrar NumPy e Pandas**, aproveitando o poder num√©rico do NumPy e a manipula√ß√£o de dados estruturados do Pandas.  
O objetivo √© mostrar habilidades pr√°ticas de **pr√©-processamento e an√°lise de dados**, essenciais em projetos de **Ci√™ncia de Dados**.

---

## 1Ô∏è‚É£ Criando DataFrames a partir de arrays NumPy

In [1]:
import numpy as np
import pandas as pd

# Criando um array NumPy
arr = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

# Convertendo para DataFrame
df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

## 2Ô∏è‚É£ Opera√ß√µes vetorizadas em DataFrames

In [2]:
# Somando 10 a todos os valores do DataFrame
df_soma = df + 10
df_soma

    A   B   C
0  11  12  13
1  14  15  16
2  17  18  19

 **Vantagem**: opera√ß√µes vetorizadas do NumPy aplicadas diretamente no DataFrame, garantindo **efici√™ncia** e **performance**.

## 3Ô∏è‚É£ Estat√≠sticas com NumPy aplicadas a DataFrames

In [3]:
# M√©dia por coluna usando NumPy
media_colunas = np.mean(df.values, axis=0)
media_colunas

array([4., 5., 6.])

`df.values` retorna os dados como array NumPy, permitindo aplicar fun√ß√µes r√°pidas e eficientes.

## 4Ô∏è‚É£ Aplicando fun√ß√µes personalizadas com NumPy

In [4]:
# Fun√ß√£o que calcula raiz quadrada e log
def transforma(x):
    return np.sqrt(x) * np.log(x + 1)

df_transformado = df.applymap(transforma)
df_transformado

C:\Users\marlo\AppData\Local\Temp\ipykernel_15080\1964362208.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_transformado = df.applymap(transforma)

          A         B         C
0  0.693147  1.553672  2.401132
1  3.218876  4.006496  4.766487
2  5.501685  6.214690  6.907755

Mostra como **combinar fun√ß√µes matem√°ticas do NumPy com a estrutura do Pandas**

## 5Ô∏è‚É£ Criando colunas a partir de arrays NumPy

In [5]:
# Array NumPy com dados extras
nova_coluna = np.array([10, 20, 30])

# Adicionando ao DataFrame
df['D'] = nova_coluna
df

   A  B  C   D
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30

Facilita a **cria√ß√£o e manipula√ß√£o de datasets completos**.

## ‚úÖ Conclus√£o 
Este notebook demonstrou como: 
- Criar e manipular DataFrames a partir de arrays NumPy 
- Aplicar **opera√ß√µes vetorizadas** diretamente em DataFrames 
- Usar fun√ß√µes matem√°ticas do NumPy para transforma√ß√µes avan√ßadas 
- Integrar dados num√©ricos de forma pr√°tica e eficient